version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: voyagerss-backend
    ports:
      - "6172:6172"
    env_file:
      - .env.dev
    environment:
      - NODE_ENV=production
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: voyagerss-frontend
    ports:
      - "6171:6171"
    depends_on:
      - backend
    restart: always
