$primary   : #0037EB
$secondary : #00D2BA
$accent    : #7850FA

$dark      : #1d1d1f
$dark-page : #0f0f0f

$positive  : #10b981
$negative  : #ef4444
$info      : #4D6EFC
$warning   : #f59e0b

$radius-lg : 16px
