@import './variables.scss';

/* Base Reset & Core Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: $text-color;
  background: $background-color;
  background-image: $background-hero; // Soft gradient background
  line-height: $leading-normal;
  font-family: $font-primary;
  font-size: $text-base;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-dark;
  font-weight: $font-bold;
}

ul,
ol {
  list-style: none;
}