// Import variables first
@import './variables.scss';

// Import base styles
@import './base.scss';

// Import utilities and components
@import './utilities.scss';
@import './components.scss';

// Import layout and specific styles
@import './main.scss';
@import './global.scss';
@import './grid-default.scss';
@import './layout.scss';
@import './dialog.scss';
@import './modern.scss';
@import './info-pages.scss';

// Add any additional global styles here 